<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Modifier Deadline</title>
</head>
<body>
    <h2>Modifier Deadline</h2>
    <form action="#" th:action="@{/deadline/{id}(id=${deadline.id})}" th:object="${deadline}" method="post">
        <input type="hidden" th:field="*{id}" />
        <div>
            <label for="description">Description:</label>
            <input type="text" id="description" th:field="*{description}" />
        </div>
        <div>
            <label for="date">Date:</label>
            <input type="date" id="date" th:field="*{date}" />
        </div>
        <button type="submit">Modifier Deadline</button>
    </form>
</body>
</html>
